body {
	margin: 0;
	padding: 0;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

.parallax-1 {
	background-image: url('https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.parallax-2 {
	background-image: url('https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.parallax-3 {
	background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

h2 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

p {
	font-size: 1.5rem;
	margin: 0;
	padding: 0 2rem;
	text-align: center;
}
